.mui-card{margin:7px;}
.mui-input-row label~input{
	padding-left:8px;
}
.mui-input-row label~select{
	float: right;
    width: 65%!important;
    margin-bottom: 0;
}
.mui-input-row .mui-numbox{
	float:left;
}
.mui-numbox{
	width:130px;
}
.mui-input-row.mui-input-row-minheight{
	height: auto;
	min-height:40px;
}

.mui-table-view-cell>a:not(.mui-btn){
	background: #ededed;
}
.mui-table-view-cell.mui-active>a:not(.mui-btn){
	background: #999;
	color:#fff;
}

.totalmoney{margin:7px;}