<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<title>Hello MUI</title>
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<!--标准mui.css-->
<link rel="stylesheet" href="css/mui.min.css">
<!--App自定义的css-->
<link rel="stylesheet" type="text/css" href="css/app.css"/>

</head>
<body>
<header class="mui-bar mui-bar-nav">
	<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	<h1 class="mui-title">折叠面板</h1>
</header>
<div class="mui-content">
	<div class="mui-card">
		<ul class="mui-table-view" id="maindiv">
			<li class="mui-table-view-cell mui-collapse">
				<a class="mui-navigate-right" href="#">墙顶面老粉铲除</a>
				<div class="mui-collapse-content">
					<form class="mui-input-group">
						<div class="mui-input-row">
							<label>材料与规格</label>
							<select class="mui-btn mui-btn-block">
								<option value="item-1">item-1</option>
								<option value="item-2">item-2</option>
								<option value="item-3">item-3</option>
								<option value="item-4">item-4</option>
								<option value="item-5">item-5</option>
							</select>
						</div>
		
						<div class="mui-input-row">
							<label>数量</label>
							<div class="mui-numbox" data-numbox-min='0'>
								<button class="mui-btn mui-btn-numbox-minus" type="button">-</button>
								<input class="mui-input-numbox" type="number" v-model="mainnum" value="{{ mainnum }}"/>
								<button class="mui-btn mui-btn-numbox-plus" type="button">+</button>
							</div>
						</div>

						<div class="mui-input-row">
							<label>单位</label>
							<input type="text" class="mui-input-clear" value="平方米" disabled="disabled">
						</div>

						<div class="mui-input-row">
							<label>材料单价</label>
							<div class="mui-numbox" data-numbox-min='0'>
								<button class="mui-btn mui-btn-numbox-minus" type="button">-</button>
								<input class="mui-input-numbox" v-model="mrprice" type="number" />
								<button class="mui-btn mui-btn-numbox-plus" type="button">+</button>
							</div>
						</div>

						<div class="mui-input-row">
							<label></label>
							<input type="text" class="mui-input-clear" value="材料总计:{{ mrprice * mainnum }}">
						</div>

						<div class="mui-input-row">
							<label>损耗</label>
							<div class="mui-numbox" data-numbox-min='1' data-numbox-step='0.01'>
								<button class="mui-btn mui-btn-numbox-minus" type="button">-</button>
								<input class="mui-input-numbox" type="number" step="0.01" value="{{ loss }}" />
								<button class="mui-btn mui-btn-numbox-plus" type="button">+</button>
							</div>
						</div>

						<div class="mui-input-row">
							<label>Input</label>
							<select class="mui-btn mui-btn-block">
								<option value="item-1">item-1</option>
								<option value="item-2">item-2</option>
								<option value="item-3">item-3</option>
								<option value="item-4">item-4</option>
								<option value="item-5">item-5</option>
							</select>
						</div>

						<div class="mui-button-row">
							<button class="mui-btn mui-btn-primary" type="button" onclick="return false;">确认</button>&nbsp;&nbsp;
							<button class="mui-btn mui-btn-primary" type="button" onclick="return false;">取消</button>
						</div>
					</form>
				</div>
			</li>
			
			<li class="mui-table-view-cell mui-collapse">
				<a class="mui-navigate-right" href="#">文字排版</a>
				<div class="mui-collapse-content">
					<h1>h1. Heading</h1>
					<h2>h2. Heading</h2>
					<h3>h3. Heading</h3>
					<h4>h4. Heading</h4>
					<h5>h5. Heading</h5>
					<h6>h6. Heading</h6>
					<p>
						p. 目前最接近原生App效果的框架。
					</p>
				</div>
			</li>
		</ul>
	</div>
</div>
<script src="js/mui.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.24/vue.min.js"></script>
<script>
mui.init({
	swipeBack:true //启用右滑关闭功能
});

new Vue({
  el: '#maindiv',
  data: {
    mainnum: 98,
    mrprice: 1,
    loss: 1.05
  }
})
</script>
</body>

</html>